@model IEnumerable<ASimmo.Models.TypeBienImmo>

@{
    ViewData["Title"] = "Liste des types des bien immobilier";
}

<h1>Liste des types des bien immobilier</h1>

<p>
    <a asp-action="Create">Créer un nouveau type de bien immobilier</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TypeBienImmoId">Editer</a> |
                <a asp-action="Details" asp-route-id="@item.TypeBienImmoId">Consulter</a> |
                <a asp-action="Delete" asp-route-id="@item.TypeBienImmoId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
