@model ASimmo.Models.BienImmo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BienImmo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surface)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surface)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreChambre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreChambre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.TypeBienImmoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classification.ClassificationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse.AdresseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BienImmoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
