@model ASimmo.Models.Local

@{
    ViewData["Title"] = "Suppression d'un local";
}

<h1>Suppression</h1>

<h3>Êtes-vous sûre de vouloir supprimer ce local?</h3>
<div>
    <h4>Local</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promoteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promoteur.Libelle)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse.AdressePostale)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LocalId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
		<a asp-action="Index">Retourner à la liste des locaux</a>
    </form>
</div>
