@model ASimmo.Models.Local

@{
    ViewData["Title"] = "Détails du local";
}

<h1>Détails du local</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promoteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promoteur.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse.AdressePostale)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LocalId">Editer</a> |
	<a asp-action="Index">Retourner à la liste des locaux</a>
</div>
