@model IEnumerable<ASimmo.Models.Local>

@{
    ViewData["Title"] = "Liste des locaux";
}

<h1>Liste des locaux</h1>

<p>
    <a asp-action="Create">Créer un nouveau local</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promoteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promoteur.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse.AdressePostale)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocalId">Editer</a> |
                <a asp-action="Details" asp-route-id="@item.LocalId">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.LocalId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
