@model IEnumerable<ASimmo.Models.Adresse>

@{
    ViewData["Title"] = "Liste des adresses";
}

<h1>Liste des adresses</h1>

<p>
    <a asp-action="Create">Créer une nouvelle adresse</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Quartier)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CodePostal)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ville)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AdressePostale)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Promoteur)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Quartier)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CodePostal)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Ville)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AdressePostale)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Promoteur.Libelle)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.AdresseId">Editer</a> |
				<a asp-action="Details" asp-route-id="@item.AdresseId">Consulter</a> |
				<a asp-action="Delete" asp-route-id="@item.AdresseId">Supprimer</a>
			</td>
		</tr>
}
    </tbody>
</table>
