@model IEnumerable<ASimmo.Models.TypePromoteur>

@{
    ViewData["Title"] = "Lite des types de promoteur";
}

<h1>Lite des types de promoteur</h1>

<p>
    <a asp-action="Create">Créer un nouveau type de promoteur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TypePromoteurId">Editer</a> |
                <a asp-action="Details" asp-route-id="@item.TypePromoteurId">Consulter</a> |
                <a asp-action="Delete" asp-route-id="@item.TypePromoteurId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
