@page
@model ASimmo.Pages.AccueilModel

@{
	Layout = "_AccueilLayout";

	ViewData["Title"] = "Accueil";
	var compteur = 0;
}

<div class="Hero">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="ml-5">
					<h1>Trouvez  l’appartement de vos rêves</h1>
					<p>On a rendu la recherche des biens immobiliers plus facile et plus simple, il vous suffit juste de naviguer sur notre liste bien choisi et bien détaillée des projets fare.</p>

					<a class="call-to-action" asp-controller="Classifications" asp-action="Index">Explorer les projets</a>
				</div>
			</div>
			<div class="col-md-6">
				<img src="~/img/Image-hero.png" class="Img-Hero" width="400" />
			</div>
		</div>
	</div>

</div>

<div class="projects">
	<div class="container">
		<div class="projects-header">
			<h3 class="float-left text-white font-weight-bold">Les derniers projets</h3>
			<span class="float-right call-to-action" style="margin:0"><a asp-controller="classifications" asp-action="Index">Voir tous les projets</a></span>
			<div class="clearfix"></div>
		</div>
		<div class="project-body">
			@{
				foreach (var item in Model.Classification)
				{
					if (compteur % 2 == 0)
					{
					@:<div class="row my-5">
					}

					<div class="col-md-6 text-center text-white-50">
						<a asp-action="Details" asp-controller="classifications" asp-route-id="@(item.ClassificationId)">
							<img src="@Url.Content(item.Image)" width="470" alt="Image de @Html.DisplayFor(modelItem => item.Libelle)" />
							<br />
							@Html.DisplayFor(modelItem => item.Libelle)
							<br />
							@Html.DisplayFor(modelItem => item.Promoteur.Libelle)
						</a>
					</div>

					if (compteur % 2 != 0)
					{
					@:</div>
					}

					compteur++;
				}
			}
		</div>
	</div>
</div>