@model IEnumerable<ASimmo.Models.Promoteur>

@{
    ViewData["Title"] = "Liste des promoteurs";
}

<h1>Liste des promoteurs</h1>

<p>
    <a asp-action="Create">Créer un nouveau promoteur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            @if(User.IsInRole("Admin"))
            { 
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            @if(User.IsInRole("Admin"))
            {
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Type.Libelle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PromoteurId">Editer</a> |
                <a asp-action="Details" asp-route-id="@item.PromoteurId">Consulter</a> |
                <a asp-action="Delete" asp-route-id="@item.PromoteurId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
