@model ASimmo.Models.Classification
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details de la classification";
    string _userId;
    if (User.Identity.IsAuthenticated)
    {
        _userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }
    else
    {
        _userId = "";
    }

}

<h1>Détails</h1>

<div>
    <h4>Classification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        @if(User.IsInRole("Admin") || Model.IsOwner(_userId))
        { 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recherchable)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recherchable)
        </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrixMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrixMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrixMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrixMin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parent.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Promoteur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Promoteur.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img width="200" src="~/@Url.Content(@Model.Image)" alt="" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClassificationId">Editer</a> |
    <a asp-action="Index">Retourner à la liste des classifications</a>
</div>
