@model IEnumerable<ASimmo.Models.Classification>

@{
    ViewData["Title"] = "Liste des classifications";
}

<h1>Liste des classifications</h1>

<p>
    <a asp-action="Create">Créer une nouvelle classification</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recherchable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promoteur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recherchable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promoteur.Libelle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClassificationId">Editer</a> |
                <a asp-action="Details" asp-route-id="@item.ClassificationId">Consulter</a> |
                <a asp-action="Delete" asp-route-id="@item.ClassificationId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
